<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      type="text/css"
      rel="stylesheet"
      href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container">
      <form
        class="form-signing"
        action="/room/new"
        th:object="${chatRoomForm}"
        method="post"
      >
        <h2>새로운 채팅방 생성</h2>
        <label for="title">채팅방 이름</label>
        <input
          class="form-control"
          type="text"
          th:field="*{name}"
          id="title"
          placeholder="채팅방 명을 입력해주세요"
          required
          autofocus
        />
        <br />
        <button class="btn btn-primary" type="submit">생성하기</button>
        <button class="btn btn-danger" onclick="location.href='/'">
          돌아가기
        </button>
      </form>
    </div>
    <script src="/webjars/bootstrap/5.1.3/js/bootstrap.min.js" />
  </body>
</html>
